<div  [class.flexibleContainer]="(message == undefined) ||(message && message.textme=='open')" [class.flexibleHomeContainer]=" (message && message.textme=='close')">
        <!--div class="container"-->
            <div class="contactBox">
                <h1><b>Pagination</b> </h1>

                <!-- items being paged -->
                <div *ngFor="let item of pagedItems" class="pageWording">
                    {{item.usr_nm}}

                </div>

                <!-- pager -->
                <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(1)">First</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === 1}">
                    <a (click)="setPage(pager.currentPage - 1)">Previous</a>
                    </li>
                    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                    <a (click)="setPage(page)">{{page}}</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.currentPage + 1)">Next</a>
                    </li>
                    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                    <a (click)="setPage(pager.totalPages)">Last</a>
                    </li>
                </ul>
            </div>
        <!--/div-->
    </div>